html{
  scroll-behavior: smooth;
}



.navbar .navbar-nav {
    flex-direction: row;
    margin-left:700px; 
    padding:15px auto; 
    
  }
  .dropdown-submenu {
    position: relative;
  
}
.test432{
  margin-left: 300px;
}
.dropdown-submenu> a:after {
   
    float: left;
}
.navbar-nav #df1 #dLabel{
    top:15px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;

}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: -100%;
    padding-right: .5rem ;
    padding-left: .5rem 
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;

} 
.navbar .navbar-nav > li > a.nav-link{
  padding-right: 25px;
  
}
  .navbar .navbar-nav > li > a.nav-link:hover {
    color:#D86119
      
    }
   .dropdown-menu > li > a.dropdown-item:hover{
      color:#D86119
    }
  .nav-link {
    padding-right: .7rem ;
    padding-left: .7rem 
  }
  #navwrap {  
    height: 100px;  
    width: 100%;
    
}
li.drop_li{
  padding: 0 5px 20px 4px;
  
}
.form-group #code_error, #name_error, #email_error, #geo_err{
  color:red;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#contact_div #name_cnct_error, #mail_error, #phn_error, #msg_error, #cap_error{
  color:red;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#geo_err{
  margin-left: 20px;
}
  .navbar-navbar-expand-lg-navbar-dark-bg-primary-rounded{
   color:black;
  }
  .auth_product{
    width: 30rem;
    margin-left: 220px;
    margin-top: 10px;
  }

  .auth_product .auth_intro, .auth_intro_sub{
    margin-left: 20px;
    color:#515A5A   ;
  }
  .auth_product .promotext{
    margin-left: 10px;
    color:#515A5A   ;
  }
 
  .auth_product .form-group{
    padding: 1%;
  }
  .tips .ptips_header{
    color : #B86E09;
  }
  .storemap{
    position: relative;
    padding-bottom: 90px;
  }
  .auth_product #code_check_btn:disabled{
    background-color: #B86E09;
    color:white;
  }

  .auth_product #code_check_btn:enabled{
    background-color: #B86E09;
    color:white;
  }
 
  .number{
    margin-left: 850px;
   
    margin-top: -130px;

    position: absolute;
    
  }
  .fas{
    float: right;
  }

  #shoplist #shops #storename{
    color:#B86E09;
  }

  #shoplist #shops #storeaddress{
    color:#515A5A ;
  }
#isnm{
  color:#B86E09
}
  #shoplist #shops #phno{
    color:#D0D3D4  ;
  }
  .auth_tips{
    margin-top: 600px;
    
    padding-bottom: 100px;
    padding-top: 1px;
    
  }
  .tips{
    margin-top: 60px;
    margin-left: 480px;
  }
  .col-md-12 .tips-item{
   margin-top: 20px;
   margin-left: 400px;
  }

  .tips_ul {
    list-style: none;
    
  }
  .tips_ul .tips_order{
    padding-left: 7px;
  }

  .tips_ul li:before {
    content: '✓';
  }
  .tips_ul_arabic li{
    padding-right: 10px;
  }
  .tips_ul_arabic li:after {
    content: '  ✓';
  }

  .tips_ul_arabic{
    list-style-type: none;
    margin-left: 50px;
    
  }
  .tips_ul_arabic .tips_li_arabic{
    margin-top: 20px;
    margin-left: 100px;
    font-size: 20px;
  }
 
  .img1{
    position: relative;
    margin-left: 185px;
    margin-top: 180px;
    padding-right: 50px;
  }
  .img2{
    position: relative;
    margin-left: 930px;
    margin-top: -24rem;
    padding-left:50px
  }
  .embed{
    position: relative;
    margin-left: 530px;
    margin-top: -22.8rem;
    height: 60%;
    
  }
#contact{
  margin-top: 460px;
  
  padding-top: 5px;
  padding-bottom: 70px;
}
.auth_tips,#contact{
  background-color: #D6DBDF ;
}
  .auth_retailer_h3{
   margin-top: 130px;
   margin-left: 180px;
   color : #787878
  }

  .auth_retailer_p{
    margin-left: 220px;
    color : #494746;
  }
  #cap1_error{
    color : red
  }
  .container_post{
    margin-top: 40px;
    padding: 12px auto;
    margin-left: 50px;
  }
  .container_post #radius,#searchpostal,#modal_online,#or{
    
    margin-left: 15px;
  }
 
  .retailer{
    position: relative;
    margin-left: 37rem;
    margin-top: 2.5rem;
  }

  #modal_online2{
    
    display: none;
  }
   .list-group .list-group-item .li_store_btn
  {
    background: none;
  border : none;
  }
  #img2:hover + #modal_online2, #modal_online2:hover{
    display: inline-block;
    margin-left: -145px;
    background-color: black;
    margin-top: 40px;
    color: khaki;
  }
  
  #map{
    position: absolute;
    width: 60%;
    height: 340px;
    margin-top: 48px;
  margin-left: 600px;
}
#shoplist{
  position: absolute;
  margin-top: 48px;
  width: 39%;
  height: auto;
  
}

#places_btn{
  background-color: transparent;
   border:2px ridge #B86E09 ;
   color : #B86E09
}
.li_store_btn{
  background: none;
  border : none;
}

#storename{
  list-style-type: none
}

#contact_div{
  margin-top: 200px;
  margin-left: 310px;
  padding: 10px auto;
}
.list-group .list-group-item{
  border:none;
}
.list-group .dropdown-divider{
  border : 1px groove;
}
.list-group .list-group-item .dist_class{
    color:#515A5A ;
    float: right;
} 
.list-group .list-group-item .dist_err{
  color:red ;
  float: right;
}
#contact_div h2{
 
  position: absolute;
  margin-top : -100px;
  margin-left: 300px;
}

#msg_area{
  width: 800px;
}

#code_captcha{
  margin-left: -12px;
 
}
#dropdownCheck{
  margin-left: -10px;
}
#promotext{
  padding: 10px auto;
}
#product_verify_response{
  margin-left: 860px;
   
  margin-top: -500px;

  position: relative;
}
#currentpostal
{
  list-style-type:none;
}
.modal {
  display: none; 
  position: relative; 
  z-index: 2; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: #D6581A ;
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
#modal-content {
  position: relative;
  background-color:#3A3837 ;
  color : #E78913;
  margin: auto;
  padding: 0;
  border: 2px solid #888;
  width: 45%;
  height:auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  margin-right: 700px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 2px;
  background-color: #F8C471 ;
  color: white;
}
.modal-header #title_modal{
  margin-top:0px;
  margin-left: 10px;
  position: fixed;
  margin-right: 440px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#F4F6F7 
}

.modal-body {padding: 2px 16px 20px 20px;}

#close_btn{
  margin-left: 600px;
  margin-bottom: 10px;
}
#o_s_name #gap{
  float:right;
  margin-right: 15px;
 
  
}
#webstore{
  color:#FBFCFC;
  background: none;
}
#o_s_name{
  padding:10px 10px 10px 10px;
  color:#F8C471;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}

#footer_card{
  margin-top: 0px;
  
}

.card .container{
  padding-top: 30px;
}
.testimonial-card{
  width: 34rem;
  position: fixed;
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}